main {
  margin-top: 140px;
}

img {
  width: 550px;
  border-radius: 15px;
}

.events-flex {
  display: flex;
  justify-content: space-between;
}

.main_h1 {
  font-size: 40px;
  margin: 0 0 25px 0;
  color: #f5f0e8;
  line-height: 1.02;
  font-weight: 700;
  text-align: center;
}

.main_h1::after {
  content: "";
  display: block;
  width: 40%;
  height: 2px;
  background: var(--primary-red);
  margin: 15px auto;
}

@media (max-width: 1024px) {
  img {
    width: 450px;
  }
  .main_h1 {
    font-size: 36px;
  }
}

@media (max-width: 768px) {
  main {
    margin-top: 100px;
  }
  .events-flex {
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }
  img {
    width: 90%;
    max-width: 550px;
    height: auto;
  }
  .main_h1 {
    font-size: 32px;
  }
  .main_h1::after {
    width: 60%;
  }
}

@media (max-width: 480px) {
  .main_h1 {
    font-size: 28px;
    margin-bottom: 15px;
  }
}
