.main_block {
  max-width: 1400px;
  height: 650px;
  margin: 48px auto;
  border-radius: 24px;
  overflow: hidden;
  position: relative;
  background-image: url('../../assets/img/5D4_5742.jpg');
  background-position: center right;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
}

.main_block::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.637);
  pointer-events: none;
  z-index: 1;
}

.hero {
  position: relative;
  margin: 150px 0;
  display: flex;
  align-items: stretch;
  width: 100%;
  z-index: 2;
}

.hero-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 24px 12px;
  width: 52%;
}

.main_h1 {
  font-size: 40px;
  margin: 0 0 25px 0;
  color: #f5f0e8;
  line-height: 1.02;
  font-weight: 700;
}

.main_h1::after {
  content: "";
  display: block;
  width: 50%;
  height: 2px;
  background: var(--primary-red);
  margin: 10px 0 0 0;
} 

.main_h3 {
  font-size: 20px;
  margin: 0 0 18px 0;
  color: var(--primary-red);
  font-weight: 500;
  margin: 0px 0px 25px 0px;
}

.main_p {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.88);
  margin: 0 0 25px 0;
}

.hero-btn-wrapper {
  background: none;
  border: solid 2px var(--primary-red);
  padding: 10px 0px;
  width: 30%;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.hero-btn-wrapper a {
  text-decoration: none;
  padding: 10px 20px;
  color: var(--primary-red);
  transition: color 0.5s ease;
}

.hero-btn-wrapper:hover {
  background-color: var(--primary-red);
}

.hero-btn-wrapper a:hover {
  color: var(--light-text);
}

/* About_us */

.about_us-flex {
  display: flex;
  justify-content: space-between; 
  margin: 120px 0px 0px 0px;
  align-items: flex-start;
}

.about_us_pictures_wrapper {
  position: relative; 
  width: 560px; 
  flex-shrink: 0; 
}
.about_us_pictures_main {
  width: 100%;
  border-radius: 14px;
}

.about_us_pictures_second {
  position: absolute; 
  top: 320px;  
  left: 290px;   
  width: 300px;
  border-radius: 14px;
  z-index: 2;
}

.about_us_text {
  max-width: 600px;
  margin: 0px 0px 0px 40px;
  color: var(--light-text);
}

.about_us_h2 {
  font-size: 32px;
  margin: 0 0 25px 0;
  color: #f5f0e8;
  line-height: 1.02;
  font-weight: 700;
}

.about_us_h2::after {
  content: "";
  display: block;
  width: 50%;
  height: 2px;
  background: var(--primary-red);
  margin: 10px 0 0 0;
}

.about_us_block-title {
  display: flex;
  align-items: center;
  color: var(--light-text);
  transition: color 0.3s ease;
  margin: 5px 0px 0px 0px;
}

.about_us_h3 {
  font-size: 18px;
} 

.about_us_block-title:hover {
  color: var(--primary-red);
}

.block_img {
  width: 40px;
  height: 40px;
  margin-right: 12px;
}

.about_us_block_food {
  display: flex;
  align-items: center;
  color: var(--light-text);
  transition: color 0.3s ease;
  margin-right: 12px;
}

.about_us_block_food-1 {
  text-align: center;
}

.about_us_block_food-1 h3 {
  font-size: 18px;
  color: var(--primary-red);
}
.about_us_block_food-1 i {
  font-size: 18px;
  color: var(--primary-red);
}

/* Gallery */

.gallery {
  margin: 120px 0px 0px 0px;
}

.gallery_title {
  text-align: center;
  font-size: 32px;
  margin: 0 0 25px 0;
  color: #f5f0e8;
  line-height: 1.02;
  font-weight: 700;
}

.gallery_title::after {
  content: "";
  display: block;
  position: relative;
  width: 14%;
  height: 2px;
  background: var(--primary-red);
  margin: 10px 0px 0 645px;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 250px;
  grid-auto-flow: dense;
  gap: 1rem; 
}

.image {
  overflow: hidden; 
  border-radius: 8px; 
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  display: block; 
  transition: transform 0.4s ease-out;
}

.image:hover img {
  transform: scale(1.1);
}

.image.tall {
  grid-row: span 2;
}

.image.wide {
  grid-column: span 2;
}

.gallery_button {
  margin: 10px 0px 0px 0px;
  background: none;
  border: solid 2px var(--primary-red);
  padding: 10px 0px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.gallery_button a {
  text-decoration: none;
  padding: 10px 10px;
  color: var(--primary-red);
  transition: color 0.5s ease;
}

.gallery_button:hover {
  background-color: var(--primary-red);
}

.gallery_button a:hover {
  color: var(--light-text);
}

/* Events */

.events {
  margin: 120px 0px 0px 0px;
  display: flex;
  align-items: center;
}

.events_flex {
  display: flex;
  justify-content: space-between;
}

.events_flex img {  
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.events_block {
  width: 530px;
}

.events_block button {
  background: none;
  color: var(--light-text);
  border: none;
  font-weight: 500;
  cursor: pointer;
  transition: color 0.5s ease;
}

.events_block button:hover {
  color: var(--primary-red);
}

.events_content h2 {
  font-size: 32px;
  margin: 0 0 25px 0;
  color: #f5f0e8;
  line-height: 1.02;
  font-weight: 700;
}

.events_content h2::after {
  content: "";
  display: block;
  width: 98%;
  height: 2px;
  background: var(--primary-red);
  margin: 10px 0 0 0;
}

.events_elements {
  margin: 20px 20px 0 0 ;
}

.events_style {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.events_style img{
  width: 230px;
  border-radius: 10px;
  margin: 0px 20px 0px 0px;
}

.party_style {
  color: var(--light-text);
}

.party_style button {
  margin: 10px 20px 0px 0px;
  background: none;
  border: solid 2px var(--primary-red);
  padding: 10px 0px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.party_style a {
  text-decoration: none;
  padding: 10px 10px;
  color: var(--primary-red);
  transition: color 0.5s ease;
}

.party_style button:hover {
  background-color: var(--primary-red);
}

.party_style a:hover {
  color: var(--light-text);
}

.rooms_style {
  color: var(--light-text);
}

.rooms_style li {
  margin: 20px 0px 0px 0px;
}

.rooms_style button {
  margin: 10px 20px 0px 0px;
  background: none;
  border: solid 2px var(--primary-red);
  padding: 10px 0px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.rooms_style a {
  text-decoration: none;
  padding: 10px 10px;
  color: var(--primary-red);
  transition: color 0.5s ease;
}

.rooms_style button:hover {
  background-color: var(--primary-red);
}

.rooms_style a:hover {
  color: var(--light-text);
}

/* News */
.news {
  margin:120px 0px 0px 0px;
}

.news_title {
  font-size: 32px;
  margin: 0 0 25px 0;
  color: #f5f0e8;
  line-height: 1.02;
  font-weight: 700;
  text-align: center;
}

.news_title::after {
  content: "";
  display: block;
  position: relative;
  width: 76%;
  height: 2px;
  background: var(--primary-red);
  margin: 10px 0px 0 150px;
}

.news_block {
  display: flex;
  justify-content: space-between;
}

.news_item {
    width: 500px;
    border: 1px solid var(--dark-text);
    margin-bottom: 10px;
    border-radius: 10px;
    overflow: hidden; 
}

.news_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--light-text);
    padding: 15px;
    background-color: var(--background-dark);
    cursor: pointer; 
    user-select: none; 
}

.toggle-icon {
    font-size: 20px;
    font-weight: bold;
    transition: transform 0.3s ease-in-out;
}

.news_content {
    padding: 0 15px;
    background-color: var(--background-dark);
    color: var(--light-text);
    
    max-height: 0;
    transition: max-height 0.5s ease-out, padding 0.5s ease-out; 
}

.news_item.active1 .news_content {
    max-height: 500px; 
    padding: 15px;
}

.news_item.active1 .toggle-icon {
    transform: rotate(45deg); 
}

.news_button {
  margin: 40px 0px 0px 0px;
  text-align: center;
}

.news_button button {
  margin: 10px 20px 0px 0px;
  background: none;
  border: solid 2px var(--primary-red);
  padding: 10px 0px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.news_button a {
  text-decoration: none;
  padding: 10px 10px;
  color: var(--primary-red);
  transition: color 0.5s ease;
}

.news_button button:hover {
  background-color: var(--primary-red);
}

.news_button a:hover {
  color: var(--light-text);
}

@media (max-width: 576px) {
  .grid-wrapper {
    grid-template-columns: 1fr;
    grid-auto-rows: 350px; 
  }

  .image.tall,
  .image.wide {
    grid-row: span 1;
    grid-column: span 1;
  }
}

@media (max-width: 900px) {
  .main_block {
    margin: 20px;
    padding: 0;
    border-radius: 14px;
    background-position: center top;
    background-size: cover;
  }

  .main_content {
    padding: 18px;
    min-height: auto;
  }

  .hero {
    flex-direction: column;
  }

  .hero-right {
    order: -1;
    width: 100%;
    display: block;
    padding: 0;
  }

  .main_block::after {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%);
  }

  .hero-left {
    padding: 16px;
  }

  .main_h1 {
    font-size: 28px;
  }

  .main_h2 {
    font-size: 16px;
  }
}

