<header>
  <div class="container">
    <div class="logo">
      <a href="../index.html"
        ><img src="../assets/img/Oase-Flensburg-Logo-1024.png" alt="logo"
      /></a>
      <div>
        <i class="fa-solid fa-phone"></i>
        <p>+49 0461 13199</p>
      </div>
      <div>
        <i class="fa-solid fa-location-dot"></i>
        <p>Kielseng 30, 24937 Flensburg</p>
      </div>
    </div>
    <nav>
      <ul>
        <li><a href="#about_us">Restaurant</a></li>
        <li><a href="#gallery">Gallerie</a></li>
        <li><a href="#events">Veranstaltungen</a></li>
        <li><a href="#news">Betreuung</a></li>
      </ul>

      <button><a href="#">Buchungsanfrage</a></button>
    </nav>
  </div>
</header>
<script>
</script>
