<header>
  <div class="container header__container">
    <div class="logo">
      <a href="../index.html">
        <img
          src="./assets/img/Oase-Flensburg-Logo-1024.png"
          alt="logo"
          class="logo__img"
        />
      </a>
      <div class="logo__contact">
        <i class="fa-solid fa-phone"></i>
        <p>+49 0461 13199</p>
      </div>
      <div class="logo__contact">
        <i class="fa-solid fa-location-dot"></i>
        <p>Kielseng 30, 24937 Flensburg</p>
      </div>
    </div>

    <nav id="main-nav">
      <ul>
        <li><a href="#resturant">Restaurant</a></li>
        <li><a href="#gallery">Gallerie</a></li>
        <li><a href="#events">Veranstaltungen</a></li>
        <li><a href="#news1">Betreuung</a></li>
      </ul>

      <button class="header-cta-btn">
        <a href="#">Buchungsanfrage</a>
      </button>
    </nav>

    <button class="burger-menu" aria-label="Menü umschalten">
      <span class="burger-menu__line"></span>
      <span class="burger-menu__line"></span>
      <span class="burger-menu__line"></span>
    </button>
  </div>
</header>
